langchain==0.3.23
langchain-google-genai==2.1.2
langchain_community==0.3.21 
tavily-python==0.5.4
streamlit==1.44.1
dotenv==0.9.9
google-api-python-client==2.167.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
pyjokes==0.8.3